<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-quick-chat</title>
    <script src="https://unpkg.com/@tensorflow/tfjs@0.10.3"></script>
	  <script src="https://unpkg.com/@tensorflow-models/mobilenet@0.0.1"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-quick-chat doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
