<template>
  <div>
    <video id='video' class="video-stream">Video stream not available.</video>
		<pre
      id='predictions'
      v-for="({ className, probability }, key) in pre"
      :key="key"
    >
      {{probability}}%: {{className}}
    </pre>
    <button
      @click="takeSnapshot"
      class="btn btn-recognize"
    >
      <v-icon name="camera"></v-icon>
    </button>
		<canvas id='canvas' style='display:none'></canvas>
  </div>
</template>

<script>
import { uploader, searchInSupermarket } from './../services/recognition.service'

export default {
  name: 'video-recognition',
  data: () => ({
    video: {},
    model: {},
    pre: [],
  }),
  async created() {
    // eslint-disable-line
    this.model = await mobilenet.load() // eslint-disable-line
    await this.startCamera()
  },
  methods: {
    async startCamera() {
      this.video = document.getElementById('video')
      this.video.srcObject = await navigator.mediaDevices.getUserMedia({
        video: true
      })
      await this.video.play()
      this.$emit('loading')
      // setInterval(() => takeSnapshot(), 1000)
    },
    async takeSnapshot() {
      const canvas = document.getElementById('canvas')
      const context = canvas.getContext('2d')
      const width = this.video.videoWidth
      const height = this.video.videoHeight
      if (width && height) {
        // Setup a canvas with the same dimensions as the video.
        canvas.width = width
        canvas.height = height
        // Make a copy of the current frame in the video on the canvas.
        context.drawImage(this.video, 0, 0, width, height)
        let dataURL = canvas.toDataURL("image/jpeg", 0.5)
        // eslint-disable-next-line
        const { data: { result } } = await uploader(dataURL)
        const item = this.getFirstPossibleItem(result)
        const inShell = await searchInSupermarket(item)
        this.$emit('handleRecognized', { ...inShell, item })
      }
    },
    getFirstPossibleItem(value) {
      return value[1].description
    },
    // async classifyImage() {
    //   const canvas = document.getElementById('canvas')
    //   // canvas.toBlob((blob) => {
    //   //   saveAs(blob, 'file.png')
    //   // })
    //   const predictions = await this.model.classify(canvas)
    //   predictions.forEach(({ className, probability }) => this.pre.push({
    //     probability: (probability * 100).toFixed(2),
    //     className
    //   }))
    //   this.$emit('handleRecognized', this.getFirstPossibleItem(this.pre))
    // }
  }
}
</script>

<style>
  .video-stream {
	width: auto;
	height: 100vh;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 5;
	margin: 0 auto;
  }

  .btn-recognize {
    z-index: 99;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    left: calc(50% - 50px);
    background: green;
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .btn-recognize svg {
    width: 50px;
  }
  @media only screen and (max-width: 600px) {
	.video-stream {
		transform: translate(-25%, 0);
	}
  }
</style>
