<template>
  <div id='app'>
	<section v-if="loading" class="lds-container">
		<p class="info-text">Opening the camera. <br>Please wait!</p>

		<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
	</section>

    <div class='content'>
      <div class="chat-container">
        <Chat
          v-if="visible"
          :participants="participants"
          :myself="myself"
          :messages="messages"
          :onType="onType"
          :onMessageSubmit="onMessageSubmit"
          :onOpenCamera="onOpenCamera"
          :chatTitle="chatTitle"
          :placeholder="placeholder"
          :colors="colors"
          :onClose="onClose"
          :hideCloseButton="hideCloseButton"
          :closeButtonIconSize="closeButtonIconSize"
          :submitIconSize="submitIconSize"
          :asyncMode="asyncMode"
        >
          <template v-slot:header>
            <div class="header-slot">
              <a
                v-for="(participant, index) in participants"
                :key="index"
                class="custom-title"
              >
				<p style="margin-bottom: 0; text-align: left;"><b>Shot to Buy</b>!</p>
				<p style="margin-top: 0;">{{`You are now chatting with ${participant.name}!`}}</p></a>
            </div>
          </template>
        </Chat>
      </div>
      <Recognition v-if="showCamera" @handleRecognized="onRecognize" @loading="loading = false"/>
    </div>
  </div>
</template>

<script>
import Chat from './components/Chat.vue';
import Recognition from './components/Recognition'
import moment from 'moment';

export default {
  name: 'app',
  components: {
    Chat,
    Recognition
  },
  created() {
    moment.locale('pt-br')
  },
  data() {
    return {
      showCamera: false,
      loading: false,
      visible: true,
      participants: [
        {
          name: 'Google',
          id: 1
        }
      ],
      myself: {
        name: 'John Doe',
        id: 3
      },
      messages: [
        {
          content: 'Hi, How can I help you?\n\nIf you want to search and order an item please use the camera button below?',
          myself: false,
          participantId: 1,
          timestamp: {
            year: 2012,
            month: 3,
            day: 5,
            hour: 20,
            minute: 10,
            second: 3,
            millisecond: 123
          },
          uploaded: true,
          viewed: true
        }
        /* {
          content: 'Hey, Adam! I'm feeling really fine this evening.',
          myself: true,
          participantId: 3,
          timestamp: { year: 2011, month: 0, day: 5, hour: 19, minute: 10, second: 3, millisecond:123 }
        },
        {
          content: 'Hey, John Doe! How are you today?',
          myself: false,
          participantId: 2,
          timestamp: { year: 2010, month: 3, day: 5, hour: 10, minute: 10, second: 3, millisecond: 123 }
        } */
      ],
      chatTitle: 'My chat title',
      placeholder: 'send your message',
      colors: {
        header: {
          bg: '#d30303',
          text: '#fff'
        },
        message: {
          myself: {
            bg: '#fff',
            text: '#bdb8b8'
          },
          others: {
            bg: '#fb4141',
            text: '#fff'
          },
          messagesDisplay: {
            //bg: 'rgb(247, 243, 243)',
            //bg: '#f7f3f3'
            bg: '#f7f3f3'
          }
        },
        submitIcon: '#b91010'
      },
      borderStyle: {
        topLeft: '10px',
        topRight: '10px',
        bottomLeft: '10px',
        bottomRight: '10px'
      },
      hideCloseButton: false,
      submitIconSize: '20px',
      closeButtonIconSize: '20px',
      asyncMode: true
    };
  },
  methods: {
    onOpenCamera() {
		this.loading = true;
      this.showCamera = !this.showCamera
    },
    onRecognize(payload) {
      this.showCamera = false
      this.onMessageSubmit({
        payload,
        content: `Do you want to order ${JSON.stringify(payload.item)}?`,
        myself: false,
        participantId: 1,
        timestamp: moment(),
        uploaded: false,
        viewed: false,
        isHtmlContent: true
      })
    },
    // eslint-disable-next-line
    onType(e) {
      // eslint-disable-next-line
      console.log('typing');
    },
    onMessageSubmit(message) {
      this.messages.push(message);
      setTimeout(() => {
        message.uploaded = true;
      }, 2000);
    },
    onClose() {
      this.visible = false;
    },
    addMessage() {
      this.messages.push({
        content: 'Update state',
        myself: false,
        participantId: 1,
        timestamp: {
          year: 2014,
          month: 3,
          day: 5,
          hour: 20,
          minute: 10,
          second: 3,
          millisecond: 123
        },
        uploaded: true,
        viewed: true
      });
    },
    addParticipant() {
      let participant = {
        name: 'Karl',
        id: 4
      };
      this.participants.push(participant);
    }
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(247, 243, 243);
  height: 100vh;
  width: 100%;
}
.external-controller {
  background: #2c3e50;
  height: 300px;
  width: 600px;
  display: flex;
  color: #eee;
}

.controller-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}
.btn-message {
  cursor: pointer;
  background: #eee;
  border: none;
  height: 40px;
  color: #2c3e50;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}
.btn-participant {
  cursor: pointer;
  background: #eee;
  border: none;
  height: 40px;
  color: #2c3e50;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}
.btn-message:hover {
  background: rgb(255, 255, 255);
}
.custom-title {
  color: #eee;
}
.header-slot {
  max-height: 100%;
}
.info-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	transform: translate(2%, 41%);

}
.lds-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(51, 51, 51, 0.85);
	z-index: 999;
}
.lds-ellipsis {
	transform: translate(calc(50% - 25px), calc(50% - 25px));
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

</style>
